<DOCTYPE html>
	<html lang = "en">
	<head>
		<meta charset = "UTF-8">
		<center><title>Conditional GAN for FashionMNIST</title>></center>
	</head>
	<body>
		<center><h1 style="font-size:300%;">Each number from 0- 9 represents a class of FashionMNIST</h1></center>
		<center><p style="font-size:160%;"> Enter 0 for T-Shirt</p></center>
		<center><p style="font-size:160%;"> Enter 1 for Trouser</p></center>
		<center><p style="font-size:160%;"> Enter 2 for Pullover</p></center>
		<center><p style="font-size:160%;"> Enter 3 for Dress</p></center>
		<center><p style="font-size:160%;"> Enter 4 for Coat</p></center>
		<center><p style="font-size:160%;"> Enter 5 for Sandal</p></center>
		<center><p style="font-size:160%;"> Enter 6 for Shirt</p></center>
		<center><p style="font-size:160%;"> Enter 7 for Sneaker</p></center>
		<center><p style="font-size:160%;"> Enter 8 for Bag</p></center>
		<center><p style="font-size:160%;"> Enter 9 for Ankle boot</p></center>
	</body>
	
	<body>
	<form method = "POST">
		<center><h1 style="font-size:300%;">Enter a number between 0-9 for the corresponding class to generate</h1></center>
		<center><input name = "u"></center>
		<center><input type = "Submit"></center>
	</form>
	</body>
	</html>